page-writereview {
    ul {
        padding: 0px;
        margin-top:10px;
        text-align: center;
        &.rating li {
            padding: 0px 0px !important;
            background: none;
            color: #ffb400;
            ion-icon {
                font-size: 30px;
            }
        }
    }
}
