page-favorite {
    img {
        object-fit: cover !important;
    }
    h2{
        white-space: nowrap; 
        width: 12em; 
        overflow: hidden;
        text-overflow: ellipsis; 
    
        color: #7f3f00
     }
    
     .item-md p {
        margin: 0 0 2px;
        overflow: inherit;
        font-size: 1.4rem;
        line-height: normal;
        text-overflow: inherit;
        color: #ff0000;
      }
    
     ul {
        padding: 0px;
        margin-top:0px;
        &.rating li {
            padding: 0px 0px !important;
            background: none;
            color: #52a97a;
            ion-icon {
                font-size: 20px;
            }
        }
    }
    .ion-ios-star:before {
        content: "\f1aa" !important;
    }
    .ion-ios-star-outline:before{
        content: "\f1a9" !important;
    }
    .ion-md-star:before {
        content: "\f1aa" !important;
    }
    .ion-md-star-outline:before{
        content: "\f1a9" !important;
    }
    .item-ios p {
        overflow: inherit;
        font-size: 1.4rem;
        line-height: normal;
        text-overflow: inherit;
        color: #d8625d;
        margin: 0 0 2px;
      }
      #price{
        text-decoration: line-through;
        color: #bdbdbd;
        font-size: 13px;
      }
      #percentofdiscount{
        font-size: 13px;
      }
}
