page-home {
  .content {
    // color: #000;
    background-color: #EEEEEE;
  }
  img {
    object-fit: cover !important;
    width: 100% !important;
  }
  .font-jjgreen {
    margin-bottom: -15px;
    width: 100% !important;
    height: 30vh !important;
  }
  .item-ios {
    padding-left: 16px;
    border-radius: 0;
    position: relative;
    font-size: 1.7rem;
    color: #000;
    background-color: #f4f4f4;
    -webkit-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
  }
  .item-md {
    padding-left: 16px;
    border-radius: 0;
    position: relative;
    font-size: 1.7rem;
    color: #000;
    background-color: #f4f4f4;
    -webkit-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
  }
  .toolbar .searchbar-ios .searchbar-input {
    background-color: white !important;
    color: white !important; // opacity: 0.5;
  }
  .toolbar .searchbar-md .searchbar-input {
    // background: #52a97a;
    background-color: white !important;
    color: white !important; // opacity: 0.5;
  }
  p {
    white-space: nowrap;
    width: 9em;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
  }
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-right: 4px;
  }
  .p-margin-top-50[_ngcontent-c1] {
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 59px;
    margin-top: -5px;
    text-align: center;
    font-size: 13px;
  }
  .p-margin-top-40[_ngcontent-c1] {
    margin-top: 0px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 29px;
    margin-top: -4px;
    text-align: center;
  }
  h2 {
    white-space: nowrap;
    width: 6.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
  }
  .p-price-50 {
    width: 100% !important;
    margin-top: -50px !important;
    text-align: center;
  }
  .p-price-40 {
    margin-top: -25px !important;
    font-size: 10px !important;
    width: 100% !important;
    text-align: center;
  }
  .highLight {
    margin-top: 24px !important;
    font-size: 2rem !important;
    background-color: #171332 !important;
    color: #fff !important;
    margin-bottom: 22px !important;
    widows: 100% !important;
    z-index: 9999 !important;
    height: 38px;
  }
  .highLight-first {
    margin-top: 44px !important;
    margin-left: 5px !important;
    font-size: 1rem !important;
    font-weight: bold !important; // background-color: #1d7144 !important;
    color: #171332 !important;
    margin-bottom: 10px !important;
    widows: 100% !important;
    z-index: 9999 !important;
    height: 38px;
  }
  .highLight-sec {
    margin-top: 30px !important;
    margin-left: 5px !important;
    font-size: 1rem !important;
    font-weight: bold !important; // background-color: #1d7144 !important;
    color: #171332 !important;
    margin-bottom: 10px !important;
    widows: 100% !important;
    z-index: 9999 !important;
    height: 38px;
  }
  .highLight-New {
    margin-top: 30px !important;
    margin-left: 5px !important;
    font-size: 1rem !important;
    font-weight: bold !important; // background-color: #1d7144 !important;
    color: #171332 !important;
    margin-bottom: 5px !important;
    widows: 100% !important;
    z-index: 9999 !important;
    height: 38px;
  }
  .fontMono {
    font-family: monospace;
  }
  h4 {
    margin-top: 1rem !important;
    font-size: 1.8rem;
  }
  #seeall {
    color: #fff;
    font-size: small;
    position: absolute;
    right: 10px;
    background: rgba(0, 0, 0, 0.2);
    padding: 6px;
    margin-top: -4px;
  }
  #seeall-New {
    color: #fcfcfc;
    font-size: small;
    font-weight: 100;
    font-family: monospace;
    position: absolute;
    right: 10px; // background: rgba(0, 0, 0, 0.2);
    // padding: 6px;
    margin-right: 5px;
    top: 0px;
  }
  .grid {
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 102%;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-image: url('../assets/image/x2.png');
  }
  .col {
    position: relative;
    margin: 0;
    min-height: 1px;
    -ms-flex-preferred-size: 0;
    -ms-flex-positive: 1;
  }
  [col-12] {
    padding: 0px; // margin-top: -20px;
  }
  .grid-product {
    margin-top: -20px !important;
  }
  #rowBest {
    margin-top: -17px;
  }
  #rowProd {
    margin-top: -27px;
  }
  .grid-image {
    padding: 10px 5px 10px 5px;
    margin-top: -25px;
    flex-wrap: wrap;
    .grid-item {
      padding: 5px 5px 5px 5px;
      &>.double-item {
        &>.grid-item {
          padding: 5px 0px;
          &:first-child {
            padding-top: 0px;
          }
          &:last-child {
            padding-bottom: 0px;
          }
        }
      }
      .grid-item-wrapper {
        position: relative;
        padding-bottom: 50%;
        height: 0px;
        background-color: #faf4f4;
        .grid-item-inner {
          height: 100%;
          width: 100%;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #000;
          .item-title {
            margin: 0px;
            color: #000;
            text-align: center;
            position: absolute;
            color: white;
          }
          &.multi-line {
            flex-wrap: wrap;
            .item-title {
              flex: 0 0 100%;
              max-width: 100%;
              margin: 5px 0px;
            }
          }
        }
      }
    }
  }
  .background-image {
    display: block;
    position: relative;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    /* -webkit-transition: all ease-in-out .3s; */
    transition: all ease-in-out .3s;
    opacity: 0.7;
    .bg-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      opacity: 0.6;
    }
    &.img-loaded {
      ion-spinner {
        visibility: hidden;
        display: none;
      }
    }
  } // ion-segment {
  //     display: block;
  //     overflow-x: scroll !important;
  //     white-space: nowrap !important;
  //     background-color: #1d7144 !important;
  //     ion-segment-button.segment-button {
  //         display: inline-block !important;
  //         min-width: 100px !important;
  //         width: auto !important;
  //         padding: 16px;
  //     }
  // }
  // .segment-button {
  //     margin-top: 4px;
  //     border: 0 !important;
  //     color: #ffffff !important;
  // }
  // .segment-button.active-page {
  //     color: #ffffff !important;
  //     background-color: #52a97a !important;
  //     border-bottom: 4px solid !important;
  // }
  ion-segment {
    display: block;
    overflow-x: scroll !important;
    white-space: nowrap !important; // background-color: #1d7144 !important;
    ion-segment-button.segment-button {
      display: inline-block !important;
      min-width: 100px !important;
      width: auto !important;
      padding: 16px;
    }
  }
  .segment-button {
    margin-top: 4px;
    border: 0 !important;
    color: #171332 !important; // font-weight: bolder !important;
    // font-size: medium !important; 
    // font-family: monospace;
  }
  .segment-button.active-page {
    color: #171332 !important;
    font-weight: bolder !important; // font-size: medium !important; 
    // font-family: monospace;
    // background-color: #52a97a !important;
    border-bottom: 4px solid !important;
  }
  .highLight {
    margin-top: 24px !important;
    font-size: 2rem !important;
    background-color: #171332 !important;
    color: #fff !important;
    margin-bottom: 22px !important;
    widows: 100% !important;
    z-index: 9999 !important;
    height: 38px;
  }
  #seeall {
    color: #fff;
    font-size: small;
    position: absolute;
    right: 10px;
    background: rgba(0, 0, 0, 0.2);
    padding: 6px;
    margin-top: -4px;
  }
  ion-navbar.toolbar {
    padding: 0px 0px 0px 0px !important;
  }
//   .item-ios.item-block .item-inner {
//     border-bottom: 0.55px solid #2A5D67 !important;
//   }
//   .item-md.item-block .item-inner {
//     border-bottom: 0.55px solid #2A5D67 !important;
//   }
}
