page-history {
  img {
    object-fit: cover !important;
  }
  .lock {
    font-size: 200px !important;
  }
  .color-gray-lock {
    color: #9E9D9D !important;
  }
  .font-lock-size {
    font-size: 20px !important;
  }
}
