<!-- Generated template for the IonFormBankComponent component -->
<ion-item-group *ngIf="parent.channel == value">
  <ion-item-divider color="light">
    <b>bank</b>
  </ion-item-divider>
</ion-item-group>
<ion-grid text-right *ngIf="parent.channel == value">
  <ion-row>
    <ion-col>
      <ion-row>
        <ion-col text-center *ngFor="let counter of paymentgateway" (click)="selectcounter(counter)">
          <ion-segment mode="md" color="light" [(ngModel)]="counteractive">
            <ion-segment-button id="segmentCounter" [value]="counter.name">
              <img src="{{counter.image}}">
            </ion-segment-button>
          </ion-segment>
          <p>{{counter.name}}</p>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
<ng-content></ng-content>