page-form-address {
    img {
        object-fit: cover !important;
    }
    .button-ios {
        border-radius: 4px;
        height: 2.8em;
        font-size: 1.6rem;
        color: #fff;
        background-color: #5c926e;
        /* background-color: #488aff; */
        margin: 0.4rem 0.2rem;
        padding: 0 1em;
    }
}